@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Inter", sans-serif;
    }
  }
  .gradient{
   background: var(--Gradient-1, linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 25%));
   
  }
  .gradient1{
    background: var(--Gradient-1, linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%));
    
   }
 
  .shadow{
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);

  }

 



 